.UserCard {
  display: flex;
  flex-direction: column;
  border: grey 2px solid;
  border-radius: 10px;
  width: 300px;
}
.photo {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: rgb(246, 243, 243) 8px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
}
.first-part,
.content-part,
.last-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 12px;
  color: grey;
}
.explanation {
  font-family: Arial, sans-serif;
  width: 250px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 40px;
}
.btn {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: rgb(54, 126, 235) 1px solid;
  background-color: rgb(54, 126, 235);
  box-shadow: 0 4px 3px rgba(9, 45, 113, 0.5);
  margin-bottom: 15px;
}
.btn:hover {
  background-color: rgb(84, 115, 160);
}
.last-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(31, 66, 103);
  border-radius: 0 0 7px 7px;
  font-family: Arial, sans-serif;
  height: 70px;
}

.stat-item {
  display: flex;
  align-items: center;
  color: rgb(195, 128, 132);
}

.stat-item img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.stat-text {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  font-weight: bold;
}

.value {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
}
